venv/
.venv/
renamed_files_log.csv
__pycache__/
extents-training/
template_notebook.ipynb
extents.ipynb
figures/
logs/
install-tl-20251001/
latex_install/
results/
archive/
dinov3_vitl16_pretrain_sat493m-eadcf0ff.pth
ViT-L_16.npz
mde_results_filtered/
train_notebook.ipynb
visualise_data.ipynb
archive/