venv/
.venv/
renamed_files_log.csv
__pycache__/
extents-training/
template_notebook.ipynb
extents.ipynb
figures/
logs/
install-tl-20251001/
latex_install/
results/
archive/
dinov3_vitl16_pretrain_sat493m-eadcf0ff.pth
ViT-L_16.npz
mde_results_filtered/
train_notebook.ipynb
visualise_data.ipynb
archive/
filtered_ice_front_visualizations/
MDE_visualisation.ipynb
new_test_plot_code.ipynb
MDE_final_fig.ipynb
plot_all_models.ipynb
check_patches.ipynb
check_what_works.ipynb
extents_2.ipynb
find_best_model.ipynb
mde_analysis.ipynb
