#base configuration

defaults:
  - _self_
  - hydra: default
  - override hydra/launcher: slurm

paths:
  root_local: "/home/users/amorgan/benchmark_CB_AM"
  root_gws: "/gws/nopw/j04/iecdt/amorgan"

# Main configuration
seed: 0
name: "ice_bench_seg"
save_dir: "/gws/nopw/j04/iecdt/amorgan/benchmark_data_CB/model_outputs/"
data_root: "/gws/nopw/j04/iecdt/amorgan/benchmark_data_CB/preprocessed_data/train/images"
load_path: true
use_wandb: true
class_names: ["Ocean", "Ice"]
log_freq: 200
save_freq: 1
num_workers: 4
device: "cuda"


# model/unet_resnet50_baseline.yaml
model:
  encoder_name: "resnet50"
  name: "Unet"
  encoder_weights: "imagenet"
  in_channels: 1
  classes: 2
  img_size: 256
  pretrained_path: "/home/users/amorgan/benchmark_CB_AM/models/ViT-L_16.npz"
  satellite_weights_path: "/home/users/amorgan/benchmark_CB_AM/models/dinov3_vitl16_pretrain_sat493m-eadcf0ff.pth"
  segmentation_head: "unet"  # "fcn", "unet", "fpn"
  freeze_backbone: true # trains the segmentation head only

# training/default.yaml
use_amp: true
training:
  batch_size: 32
  learning_rate: 1e-4
  weight_decay: 1e-4
  epochs: 1000
  loss_function: "DiceLoss"
  optimizer: "Adam"
  log_interval: 100
  gradient_clip_val: 1.0  # Prevent gradient explosion
  accumulate_grad_batches: 4
  mixed_precision: true
  clip_grad_norm: 1.0
  gradient_accumulation_steps: 1


data:
  img_size: 256
  augmentation_prob: 0.5
  parent_dir: "/gws/nopw/j04/iecdt/amorgan/benchmark_data_CB/preprocessed_data/"